<% provide(:title, 'For Hire Index') %>

<h1>For Hire Index</h1>
Number of for hire profiles: <%= @forhires_count %>
<br>
<%= paginate @forhires %>

<%= render @forhires %>
<hr>

<%= paginate @forhires %>
