<% provide(:title, 'Sponsor Index') %>

<h1>Sponsor Index</h1>

<% # BEGIN: add sponsor button %>
<% if admin_signed_in? && current_admin.super %>
  <%= link_to "Add Sponsor", new_sponsor_path,
              class: "btn btn-lg btn-primary"
    %>
<% end %>
<% # END: add sponsor button %>

<h3>Current Sponsors</h3>
<div class="sponsors_current">
  <% @sponsors_current.each do |s| %>
    <li>
      <%= link_to s.name, s %>
    </li>
  <% end %>
</div>


<h3>Past Sponsors</h3>
<div class="sponsors_past">
  <% @sponsors_past.each do |s| %>
    <li>
      <%= link_to s.name, s %>
    </li>
  <% end %>
</div>
