# POSTGRESQL DATABASE PARAMETERS:
# Database name (development)
# Database name (testing)
# Database name (production)
# Username 
# Password
# NOTE: All three databases use the same username and password.

default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: <%= ENV['var_db_rubymn2_username'] %>
  password: <%= ENV['var_db_rubymn2_password'] %>

development:
  <<: *default
  database: db_rubymn2_dev

test:
  <<: *default
  database: db_rubymn2_test

production:
  <<: *default
  database: db_rubymn2_pro
